<template>
  <div>
    <div id="form">
      <small class="form-text" style="color: red">Campos com * são obrigatórios</small>
      <br>
      <div class="form-group">
        <label for="nome">Nome*</label>
        <input name="nome" v-model="form.nome" type="text" class="form-control" id="nome" placeholder="João da Silva">
      </div>
      <div class="row col-12">
        <div class="col-6">
          <label for="cpf">CPF*</label>
          <input name="cpf" v-mask="['###.###.###-##']" v-model="form.cpf" type="text" class="form-control" id="cpf"
                 placeholder="cpf: xxx.xxx.xxx-xx">
        </div>
        <div class="col-6">
          <label for="dataNascimento">Data de Nascimento</label>
          <input name="dataNascimento" v-model="form.dataNascimento" type="date" class="form-control"
                 id="dataNascimento" placeholder="YYYY-MM-dd">
        </div>
      </div>
      <div class="row col-12">
        <div class="col-6">
          <label for="email">Email</label>
          <input name="email" v-model="form.email" type="email" class="form-control" id="email"
                 aria-describedby="emailHelp" placeholder="joao@email.com">
        </div>
        <div class="col-6">
          <label for="sexo">Sexo</label>
          <input name="sexo" v-model="form.sexo" type="text" class="form-control" id="sexo"
                 placeholder="masculino/feminino">
        </div>
      </div>
      <div class="row col-12">
        <div class="col-6">
          <label for="naturalidade">Naturalidade</label>
          <input name="naturalidade" v-model="form.naturalidade" type="text" class="form-control" id="naturalidade"
                 placeholder="criciumense">
        </div>
        <div class="col-6">
          <label for="nacionalidade">Nacionalidade</label>
          <input name="nacionalidade" v-model="form.nacionalidade" type="text" class="form-control" id="nacionalidade"
                 placeholder="brasiliero">
        </div>
      </div>
      <br>
      <p style="color: red">{{ messages }}</p>
      <button @click="salvar" style="text-align: right" type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</template>

<script>
import PessoasDataService from "../services/PessoasDataService";
import {mask} from 'vue-the-mask'

export default {
  name: "pessoa",
  directives: {mask},
  data() {
    return {
      form: {
        id: null,
        email: '',
        dataNascimento: '',
        nacionalidade: '',
        naturalidade: '',
        nome: '',
        sexo: ''
      },
      currentTutorial: null,
      messages: ''
    };
  },
  methods: {
    salvar() {
      var data = this.form;

      if (!data.nome) {
        this.messages = "O campo nome é obrigatório!"
        return;
      }

      if (!data.cpf) {
        this.messages = "O campo cpf é obrigatório!"
        return;
      }

      if (data.email) {
        let email = data.email;
        let usuario = email.substring(0, email.indexOf("@"));
        let dominio = email.substring(email.indexOf("@")+ 1, email.length);
        if ((usuario.length >=1) &&
            (dominio.length >=3) &&
            (usuario.search("@")==-1) &&
            (dominio.search("@")==-1) &&
            (usuario.search(" ")==-1) &&
            (dominio.search(" ")==-1) &&
            (dominio.search(".")!=-1) &&
            (dominio.indexOf(".") >=1)&&
            (dominio.lastIndexOf(".") < dominio.length - 1)) {
          console.log("Email valido")
        }else {
          this.messages = "O campo email está inválido"
          return;
        }
      }

      console.log(data);
      PessoasDataService.save(data)
          .then(response => {
            console.log(response)
            this.messages = ""
            this.$router.push("/pessoas");
          })
          .catch(e => {
            console.log(e);
            this.messages = "Erro ao salvar, por favor verifique se o cpf e o email são validos"
          });
    },
    getTutorial(id) {
      PessoasDataService.get(id)
          .then(response => {
            this.form = response.data.response;
            console.log(response.data.response);
          })
          .catch(e => {
            console.log(e);
          });
    },
    prune() {
      this.form = {
        id: null,
        email: '',
        cpf: '',
      }
    },
  },
  mounted() {
    this.message = '';
    if (this.$route.params.id) {
      this.getTutorial(this.$route.params.id);
    } else {
      this.prune();
    }

  }
};
</script>
<style>
#form {
  text-align: left;
  color: #2c3e50;
}
</style>
