<template>
  <div>
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por Nome"
               v-model="nome"/>
        <input  v-mask="['###.###.###-##']" type="text" class="form-control" placeholder="Buscar por CPF"
               v-model="cpf"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
                  @click="buscarPessoas">
            Buscar
          </button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Sexo</th>
        <th scope="col">Data de nascimento</th>
        <th scope="col">Ação</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(pessoa, currentIndex) in pessoas"
          :key="currentIndex">
        <th scope="row">{{ pessoa.id }}</th>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cpf }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.sexo }}</td>
        <td>{{ getDataFormatada(pessoa.dataNascimento) }}</td>
        <td>
          <router-link :to="'/pessoa/' + pessoa.id" tag="button" class="btn btn-info">Editar</router-link>
          <button @click="remover(currentIndex)" class="btn btn-danger">Excluir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import PessoasDataService from "../services/PessoasDataService";
import moment from 'moment'
import {mask} from 'vue-the-mask'

export default {
  name: "PessoasList",
  directives: {mask},
  data() {
    return {
      pessoas: [],
      currentIndex: null,
      cpf: "",
      nome: ""
    };
  },
  methods: {
    buscarPessoas() {
      PessoasDataService.getAll(this.cpf, this.nome)
          .then(response => {
            this.pessoas = response.data.response;
            console.log(response.data.response);
          })
          .catch(e => {
            console.log(e);
          });
    },
    remover(index) {
      let id = this.pessoas[index].id;
      PessoasDataService.delete(id).then(() => {
        let idx = this.pessoas.indexOf(index)
        this.pessoas.splice(idx, 1)
      }).catch(e => {
        console.log(e);
      });
    },
    getDataFormatada(value) {
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
      }
    },
  },
  mounted() {
    this.buscarPessoas();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
button {
  margin:5px;
}

</style>
