<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link style="margin-left: 5px" to="/" class="navbar-brand">Softplan</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/pessoas" class="nav-link">Pessoas</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/pessoa" class="nav-link">Adicionar</router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
